<ion-header>
  <ion-navbar>
      <ion-item>
          <ion-avatar item-end>
            <ion-icon name="log-out"  (click)="logout()"  item-right ></ion-icon>
          </ion-avatar>
          <!-- <span (click)="logout()" item-right></span> -->
        </ion-item>
    <ion-title>Posts</ion-title>
    
  
    
    
  </ion-navbar>
  
</ion-header>

<ion-content class="cards-bg">
    <ion-item icon-only (click)=redirectCamera() 
    
    
    >
        <ion-icon name="create" item-right ></ion-icon>
        </ion-item>
  

  <ion-card *ngFor='let i of array;let m = index;'>

    <img src="{{i.image}}"/>
  
     
    <ion-card-content>
      <ion-card-title>
        {{i.username}}
      </ion-card-title>
      <p>
       {{i.placeComment}}
      </p>
      
    </ion-card-content>
    <ion-row no-padding>
      <ion-col>
        <button ion-button  color="primary" *ngIf="i.colorFlag==false" icon-start (click)="like(m)" clear>
          <ion-icon name="thumbs-up"></ion-icon>
          {{i.likeCount}}
          Like
        </button>
        <button ion-button  color="danger" *ngIf="i.colorFlag==true" icon-start (click)="like(m)" clear>
          <ion-icon name="thumbs-up"></ion-icon>
          {{i.likeCount}}
          Like
        </button>
        
      </ion-col>
     
      <ion-col text-right>
        <ion-item (click)="shareIt(m)">
        
          <ion-icon name='share-alt'></ion-icon>
          Share
          
        </ion-item>
        
      </ion-col>
    </ion-row>

  </ion-card>

  